<div class="row">
  <div class="col-xs-12 col-md-6 offset-3" *ngIf="errorMessage && !closebox">
    <div class="alert alert-danger"><span style="float: right;cursor: pointer;" (click)="closeBox()">X</span>
      {{errorMessage}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 offset-3" *ngIf="!isLoading;else loadSpinner">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email"
         class="form-control"
         ngModel
         name="email"
         required
         email>
      </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control"
            ngModel
            name="password"
            required
            minlength="6">
        </div>
        <div >
          <button class="btn btn-primary" (click)="onSwitchMode()" [disabled]="!authForm.valid" type="submit">{{isloginMode ? 'Login' : 'Sign Up'}}</button> |
          <button class="btn btn-primary" (click)="onSwitchMode()" type="button">Switch to {{isloginMode ? ' Sign up' : ' Login'}}</button>
        </div>
    </form>
  </div>
  <ng-template #loadSpinner >
    <div style="text-align: center; margin-top: 10%;">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>
</div>
