<div class="row">
  <div class="col-xs-12">
    <form *ngIf="editForm" [formGroup]="editForm">
      <div class="row ">
        <div class="col-xs-12 form-group">
          <button class="btn btn-success" (click)="onSave()">Save</button>
           <button class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

       <div class="row">
         <div class="col-xs-12">
           <div class="form-group">
             <label for="Image">Image</label>
             <input type="text" id="imagePath" class="form-control" formControlName="imagePath">
           </div>
         </div>
       </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
            <img src="" alt="" class="img-responsive">
            </div>
          </div>
        </div>

         <div class="row">
           <div class="col-xs-12">
             <div class="form-group">
               <label for="Description">Description</label>
               <textarea 
                  type="text" 
                  id="Description" 
                  class="form-control"
                  rows="6"
                  formControlName="description"></textarea>
             </div>
           </div>
         </div>

         <div class="row">
           <div class="col-xs-12">
             <h3>Ingredients</h3>
             <div class="row">
               <div class="col-xs-8">
                  <!-- <label for="ingredientName"> Name</label> -->
                <input type="text" class="form-control" formControlName="ingredientName">
               </div>
                <div class="col-xs-2">
                    <!-- <label for="ingredientAmount"> Amount</label> -->
                  <input type="number" class="form-control" formControlName="ingredientAmount">
                </div>
                 <div class="col-xs-2">
                   <button class="btn btn-danger">X</button>
                 </div>
             </div>
           </div>
         </div>

    </form>
  </div>
</div>