<div class="row">
  <div class="col-xs-12">
    <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSave()">
      <div class="row ">
        <div class="col-xs-12 form-group">
          <button type="submit" class="btn btn-success"
            [disabled]="!editForm.valid">Save</button>
              <span style="padding-right: 4px;"></span>
           <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

       <div class="row">
         <div class="col-xs-12">
           <div class="form-group">
             <label for="Image">Image</label>
             <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
           </div>
         </div>
       </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
            <img [src]="imagePath.value" alt="" class="img-responsive">
            </div>
          </div>
        </div>

         <div class="row">
           <div class="col-xs-12">
             <div class="form-group">
               <label for="Description">Description</label>
               <textarea 
                  type="text" 
                  id="Description" 
                  class="form-control"
                  rows="6"
                  formControlName="description"></textarea>
             </div>
           </div>
         </div>

         <div class="row">
           <div class="col-xs-12" formArrayName="ingredient">
             <h3>
               Ingredients: <button type="button" class="btn btn-success m-2" (click)="onAddIngredients()" style="margin-left: 5px;">+</button>
             </h3>

             <div class="row"
              *ngFor="let ingredientCntrl of editForm.get('ingredient')['controls']; let i = index"
                [formGroupName]="i">
                <div class="col-xs-8">
                    <!-- <label for="ingredientName"> Name</label> -->
                  <input type="text" class="form-control" formControlName="name">
                </div>
                  <div class="col-xs-2 pt-2">
                      <!-- <label for="ingredientAmount"> Amount</label> -->
                    <input type="number" class="form-control" formControlName="amount">
                  </div>
                  <div class="col-xs-2">
                    <button type="button" class="btn btn-danger" (click)="deleteIngredient(i)">X</button>
                  </div>
             </div>
           </div>
         </div>

    </form>
  </div>
</div>